<!-- REMEMBER TO DELETE SHOW ME SHIT -->
<div>
  <h3>Albums</h3>
  <div class="row">
    <div ng-repeat="album in albums" class="col-xs-4">
    <!-- ui-sref takes params from the state then passes the object info to the controller -->
    <!-- alias album comes from `ng-repeat=album in albums` -->
      <a class="thumbnail" ui-sref="aSingleAlbum({ albumId: album.id })">
        <img ng-src="">
        <div class="caption">
          <h5>
            <span></span>
          </h5>
          <small> songs</small>
        </div>
      </a>
    </div>
  </div>
</div>