 <div>
  <p>
    <h3>{{ album.name }}</h3>
    <img ng-src="{{ album.imageUrl }}" class="img-thumbnail">
  </p>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in album.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genre }}</td>
      </tr>
    </tbody>
  </table>
</div>